<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  Options All -Indexes

  RewriteEngine On
  RewriteBase /
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php?url=$1 [NC,QSA,L]

</IfModule>


